.search-container {
  margin-top: 2%;
  margin-bottom: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-bar {
    width: 100%;
    padding: 12px;
    border: 2px solid #495057;
    border-radius: 10px;
  }
  .search-bar-container{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
  }
  .search-bar-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container{
    display: flex;
    width: 35%;
    justify-content: space-around;
    margin-bottom: 10px;
  }